<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Displays eligibility status for secondary students" name="pcps_eligibility" version="22.7.0.6" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
<publisher name="Joseph Zuvanich">
<contact email="zuvanj@pcps.us"/>
</publisher>
</plugin>
